.*.un~
.*.sw[a-p]
doc/tags
*.o
*.hi
.eggs
__pycache__
*.pyc
.cache
.python-version
*.code-workspace
.vscode
*.idea
protoc
.mvn/extensions.xml
.mvn/settings.xml
.mvn/maven.config
.mvn
.java-version
.ipynb_checkpoints
